@import "../../node_modules/swiper/src/less/swiper";

/*=== Color Variables ===*/
@yellow : #FFDE00;
@orange : #FD7400;
@green : #1F8A70;
@blue : #004358;

body {overflow-x:hidden;}
html, body {
  position: relative;
  height: 100%;
}
h2 {font-weight:600;  font-family: 'Century Gothic', CenturyGothic,'Didact Gothic', AppleGothic, sans-serif; color:#000000; }
.home-content-text { font-family:; padding-top:30px; }
p {color:#000000; font-family: 'Varela Round', sans-serif;}
.swiper-container {
  width: 100%;
  height: 100%; 
  &.swiper-subchild{
    width: 850px;
    height: 100%;
  }
}

.btn { font-weight:600;  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif; color:#000000; margin:0 auto; font-size:24px; border-radius:0; margin-top:35px; text-transform:uppercase; width:100%; max-width:190px; box-shadow:1px 2px 1px rgba(0,0,0,0.2);  display:block;}

.yellow {background-color:@yellow ;}

.swiper-slide {
  text-align: center;
  font-size: 18px;
 
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center; 
  align-items: center;
}

.internal-slider {
  .swiper-wrapper {

  }

}

.container {margin:0 auto;}

/*===== Header ======*/

.site-title-heading { margin-top:0px; margin-bottom:0; }
.page-header-top-right { margin-top:-50px;}
.navbar-default { box-shadow: none ; box-shadow: none; background-image: none;  border: none; background-color: transparent;}
.navbar { margin-bottom:0; }
.page-container {
  width:100%; padding:0;
}
#menu-main-menu {
  a {
  text-transform:uppercase; color:#999999; font-size:15px; font-weight:600; font-family:'Century Gothic', CenturyGothic ,'Didact Gothic',AppleGothic, sans-serif;
  }
  .active { 
   a {
      background-color:transparent; background-image:none;
    }   
  }
  li.active {
   a { color:@yellow; }  }
}
header {background:#000000; position: fixed; top: 40px; left: 0; right: 0; z-index: 100;}

.site-branding { padding: 5px 0; }

.swiper-slide {
  .text-box  {
  & { background:rgba(255,255,255,0.3); padding:20px 15px; max-width:850px; margin:0 auto; border-radius:5px;}
  a {color:@orange;}
  }
  .text-box2  {
  & { background:rgba(255,255,255,0.2); padding:15px 15px; max-width:950px; margin:0 auto; border-radius:5px; margin:25px auto;}
  } 
  .columns {padding:0 30px; }
  .slide1, .slide2 { max-width:1170px; width:100%;
    .background { position:absolute; z-index:-1;}
   }
  .slide2 { 
  .one {margin-top:20px;}
  p, h2 { max-width:800px; width:100%; margin:0 auto;}
  p {  margin:0 auto; }
  }
  .swipe {position:absolute; right:15px;} 
}

.slide-image { max-width:100%; }
.swiper-slide[data-swiper-slide-index="0"] {
  background-color:@yellow;
}
.swiper-slide[data-swiper-slide-index="1"] {
background-color:@orange; 
}
.swiper-slide[data-swiper-slide-index="2"] {
background-color:@green; 
}
.swiper-slide[data-swiper-slide-index="3"] {
background-color:@blue; 
}

/*Page one*/

.logo {margin-bottom:40px;}

/* Demo Page */

.demo-content { p {color:#ffffff; font-size:21px;} }
.demo-title {color:#ffffff; margin-bottom:30px;} 
.demo-page { padding:0 15px;
  p {width:100%; max-width:800px; margin:0 auto; color:#ffffff;}
  .demo { margin-top:25px; margin-bottom:45px; max-width:520px; }
  .arrow {position:relative; left:0 top:0; }
}


/*Contact*/
.contact-page {
  h2, p {
  color:#eeeeee;
  }
  .wpcf7 { max-width:500px; padding:15px; margin:0 auto;
  input {border:1px solid #CCCCCC; border-bottom:0px; border-radius:0;}
  textarea { border:1px solid #CCCCCC; }
  input, textarea { background:transparent; width:100%; padding:10px; margin:0;}
  .wpcf7-submit { border:1px solid #ffffff; border-top:0px; width:100px; position: relative; top: -7px;  float: left; }
  .wpcf7-submit:hover { background:#cccccc; color:@blue; }
  p { margin:0; }
  }
}


/*Why use WP*/


/*============ Animations ========*/


.arrow { width:47px; height:68px; animation-name:cursor-a; animation-duration:6s; -webkit-animation-name:cursor-a; -webkit-animation-duration:6s; animation-iteration-count: infinite;-webkit-animation-iteration-count: infinite;  }
@-webkit-keyframes cursor-a {
    0%   {left:-50px; top:0px;}
    25%  {left:-200px; top:0px;}
    50%  {left:-200px; top:80px;}
    
    100% {left:-50px; top:0px;} }
@keyframes cursor {
    0%   {left:-50px; top:0px;}
    25%  {left:-200px; top:0px;}
    50%  {left:-200px; top:80px;}

    100% {left:-50px; top:0px;}
}

/* Floating */

.swipe{
  animation-name: floating;
  -webkit-animation-name: floating;

  animation-duration: 1.5s; 
  -webkit-animation-duration: 1.5s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes floating {
  0% {
    transform: translateX(0%);  
  }
  50% {
    transform: translateX(15%);  
  } 
  100% {
    transform: translateX(0%);
  }     
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateX(0%);  
  }
  50% {
    -webkit-transform: translateX(15%);  
  } 
  100% {
    -webkit-transform: translateX(0%);
  }     
}



/*
==============================================
hatch
==============================================
*/

.logo{
  animation-name: hatch;
  -webkit-animation-name: hatch;  

  animation-duration: 2s; 
  -webkit-animation-duration: 2s;

  animation-timing-function: ease-in-out; 
  -webkit-animation-timing-function: ease-in-out;

  transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%; 

  visibility: visible !important;   
}

@keyframes hatch {
  0% {
    transform: rotate(0deg) scaleY(0.6);
  }
  20% {
    transform: rotate(-2deg) scaleY(1.05);
  }
  35% {
    transform: rotate(2deg) scaleY(1);
  }
  50% {
    transform: rotate(-2deg);
  } 
  65% {
    transform: rotate(1deg);
  } 
  80% {
    transform: rotate(-1deg);
  }   
  100% {
    transform: rotate(0deg);
  }                 
}

@-webkit-keyframes hatch {
  0% {
    -webkit-transform: rotate(0deg) scaleY(0.6);
  }
  20% {
    -webkit-transform: rotate(-2deg) scaleY(1.05);
  }
  35% {
    -webkit-transform: rotate(2deg) scaleY(1);
  }
  50% {
    -webkit-transform: rotate(-2deg);
  } 
  65% {
    -webkit-transform: rotate(1deg);
  } 
  80% {
    -webkit-transform: rotate(-1deg);
  }   
  100% {
    -webkit-transform: rotate(0deg);
  }   
}

.landing-title{
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn; 

  animation-duration: 2.5s; 
  -webkit-animation-duration: 2.5s;

  animation-timing-function: ease-in-out; 
  -webkit-animation-timing-function: ease-in-out;   

  visibility: visible !important; 
}

@keyframes fadeIn {
  0% {
    transform: scale(0);
    opacity: 0.0;   
  }
  60% {
    transform: scale(1.1);  
  }
  80% {
    transform: scale(0.9);
    opacity: 0.5; 
  } 
  100% {
    transform: scale(1);
    opacity: 1; 
  }   
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0;   
  }
  60% {
    -webkit-transform: scale(1.1);
  }
  80% {
    -webkit-transform: scale(0.9);
    opacity: 0.5; 
  } 
  100% {
    -webkit-transform: scale(1);
    opacity: 1; 
  }   
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
.landing-title { font-size:22px; }
.page-header-top-right {margin-top:0px;}
.navbar-nav {float:right;}
.navbar-nav {  
}
h2 {font-size:34px;}
.home-content-text {font-size:21px;}
.swipe {position:absolute; right:50px;} 

 }
.swiper-slide {
  .slide1 { 
  .background {
    top: -120px;
    right: -50px;
  }
  }
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
.header { top:50px; }

.swiper-slide {
  .slide2  { 
  .background{
      position:absolute;
      top: -150px;
    right: -180px;
  }
  }
  .row { display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center; 
  align-items: center; }
   .swipe {display:none;}  
  .slide-image {margin-bottom:15px;}
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }

.swiper-container-v {
  background: #eee;

}

@media screen and (max-width: 782px) {
.swiper-slide {
header { top:0; } 
  .columns { padding:0 15px; }
}
.slide1 { padding:15px; .slide-image { max-width:200px; margin-bottom:10px; } }
.slide2 { padding:15px; }
html {
  margin-top: 0 !important; 
}
.contact-page { 
.wpcf7 {
  textarea { height:150px; }
  }
}
.demo-page {
 

}
.demo { width:100%; max-width:400px; }
h2 { margin-top:10px; }
.slide1 {.slide-image {max-width:45%; margin:0 auto;} }
.slide-image.background { max-width:100%; }
.logo {width:170px;}
.text-box  {padding:20px 10px;

  }
 .swipe {position:absolute; right:50px;}                           
}

@media screen and (max-width: 618px) {
.wp-image-46 {display:none;}
p {font-size:16px;}
h2 { font-size:21px; } 
.slide-image { margin-bottom:10px; }
.demo-page {
.arrow { margin-top:-50px; width:30px; height:auto; }
.demo { margin-bottom:0; margin-top:20px;}
.demo-title {margin-bottom:5px; font-size:25px; }                                                                                                                                                                                         
}
.slide2 {
  .background { bottom:0; left:0; right:0; }
}

.slide1, .slide2 { margin-top:50px; }


@-webkit-keyframes cursor-a {
  0%   {left:50px; top:-50px;}
  25%  {left:-20px; top:-50px;}
  50%  {left:-20px; top:0px;}
  100% {left:50px; top:-50px;}
}

@keyframes cursor {
  0%   {left:50px; top:-50px;}
  25%  {left:-20px; top:-50px;}
  50%  {left:-20px; top:0px;}
  100% {left:50px; top:-50px;}
}
.btn { font-size:21px; }
}

@media screen and (max-width: 420px) {
 
.slide-image { max-width:100%; padding: 5px;}
header { top:0; }
h2 { font-size:20px; }
p { font-size:15px; }

.swiper-container {
  width: 100%;
  height: 100%; 
  &.swiper-subchild{
    width: 320px;
    height: 100%;
  }
}

.swiper-page-next , .swiper-page-prev { display:none; }
.swiper-slide {

  .swipe { width:65px; }
  }
  .text-box { padding:10px 15px; }
  .home-content-text { padding-top:10px;}  

}



/*Swiper slider arrows*/

.swiper-page-prev{
    .encoded-svg-background("<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'><path d='M0,22L22,0l2.1,2.1L4.2,22l19.9,19.9L22,44L0,22L0,22L0,22z' fill='#007aff'/></svg>");
    left: 50%; bottom:auto;
    top: 130px;  transform: rotate(90deg);
    
}
.swiper-page-next {
    .encoded-svg-background("<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'><path d='M27,22L27,22L5,44l-2.1-2.1L22.8,22L2.9,2.1L5,0L27,22L27,22z' fill='#007aff'/></svg>");
    left: 50%; top:auto;
    bottom : 10px;  transform: rotate(90deg);
}

.swiper-child-next {
 right: 10px; top:50%;
    left: auto; 
}

.swiper-child-prev {
.encoded-svg-background("<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'><path d='M0,22L22,0l2.1,2.1L4.2,22l19.9,19.9L22,44L0,22L0,22L0,22z' fill='#007aff'/></svg>");
  left: 10px; top:50%;
  right: auto;
}

